<!-- <div *ngIf="courses.length >0">
  List of Courses
</div>

<div *ngIf="courses.length==0">
  No courses Declared
</div> -->

<!-- <div *ngIf="courses.length >0; then course else nocourses"></div>

  <ng-template #course>
    List of Courses
  </ng-template>
  
<ng-template #nocourses>
  No courses yet
</ng-template> -->

<!-- <div [hidden]="courses.length == 0">
  List of Courses
</div>

<div [hidden]="courses.length > 0">
  No courses Declared
</div>  -->

<!-- <ul class="nav nav-pills">
  <li [class.active]=" viewmode == 'map'"><a (click) = "viewmode ='map'">Map View</a></li>
  <li [class.active]=" viewmode == 'list'"><a (click) = "viewmode ='list'">List View</a></li>
</ul>

<div [ngSwitch]="viewmode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div> -->

<!-- <ul>
  <li *ngFor="let item of itemlist; index as i">
      {{ i }} -  {{ item.name }}
  </li>
</ul> -->

<!-- <ul>
  <li *ngFor="let item of itemlist; even as isEven">
      {{ item.name }} <span *ngIf="isEven">(EVEN)</span>
  </li>
</ul> -->
<!-- <button (click)="onAdd()">ADD</button>

<ul>
  <li *ngFor="let item of itemlist; index as i">
    {{ item.name }}
    <button (click)="onRemove(item)">Remove</button>
    <button (click)="onChange(item)">Change</button>
  </li>
</ul> -->

<h1>Projects</h1>
<ul *ngFor="let item of projects ">
<li><a (click)="getProducts()"> {{ item.name }} </a><p>{{desc}}</p></li>
</ul>

